:root{
    --primary-color: #010851;
    --secondary:#9A7AF1;
    --tartiary:#707070;
    --pink: #EE9AE5;    
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*------------------------Estilos del contenedor principal---------------------------------*/
.whyalfred-main-container{
    margin: 100px 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 60vh;
}

/*-----------------------------------------Estilos de la parte izquierda----------------------*/
.whyalfred-main-text {
    position: relative;
}

.whyalfred-main-text h2{
    font-size: 2.5rem;
    color: var(--primary-color);
}

.whyalfred-main-text p{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.whyalfred-main-text div{
    height: 100%;
    max-width: 80%;
    position: absolute;
    top: 30%;
    left: 0;
    transform: translate(0,-5%);
}

/*--------------------------------Estilos de los boxes----------------------------------*/

.whyalfred-box-container{
    display: flex;
    justify-content: space-between;
}

.whyalfred-box-container .whyalfred-card:nth-child(2) {
    align-self: flex-end;
}


.whyalfred-box-container .whyalfred-card{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    height: 400px;
    max-height: 75%;
    max-width: 250px;
    border-radius: 10px;
    padding: 10px;
}

.whyalfred-box-container .whyalfred-card h4{
    margin-top: 30px;
    font-size: 1.5rem;
    color: var(--primary-color);
    max-width: 90%;
}

/*----------------------Los Medias Queries---------------------------------------------------*/

@media(max-width:600px){
    .whyalfred-main-container{
        margin: 40px 20px;
        display: flex;
        flex-direction: column;
        height: auto; /* Ajusta la altura automáticamente */
        align-items: center; /
    }
    .whyalfred-main-text{
        width: 100%;
        margin-bottom: 170px;
    }
    .whyalfred-main-text h2{
        font-size: 3.5rem;
        width: 100%;
    }
    .whyalfred-main-text p{
        font-size: 1.5rem;
        width: 100%;
    }
    .whyalfred-box-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .whyalfred-box-container .whyalfred-card{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .whyalfred-box-container .whyalfred-card:nth-child(2) {
        align-self: center;
        width: 100%;
    }
}